@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@font-face {
	font-family: "Neuton Regular";
	src: local("Neuton Regular"), url(http://acf.acimg.eu/fonts/Neuton-Regular.ttf ) format("truetype"); /* non-IE */
}

html{
	min-height: 100%;
}
html, body {
	background-color: #434343;
	color: #ccc;
	height: inherit;
	font-family: "Open sans", Arial, sans-serif;
	padding-bottom: 50px;
}
h3,h4,h5,h6{
		font-family: "Open sans", Arial, sans-serif;
		color: #eee;
}
#steps{
	margin-top:64px;
	padding: 32px 0;
	background: #333;
	color: #ddd;
}
#steps a{
	color: #61A8E2;
}
.header{}
.header h1{
	font-size:64px;
	text-align:center;
	color:white;
	font-family:"Neuton Regular",Helvetica,Arial,sans-serif;
	margin-top:100px;
}
.logo{
	text-align: left;
	font-size:30px;
	margin-top:16px;
	font-family:"Neuton Regular",Helvetica,Arial,sans-serif;
	color:white;
}
.logo a{
	color: inherit;
	text-decoration: inherit;
}
.logo small{
	font-family:"Open sans", Arial,sans-serif;
	font-size:18px;
	display: inline-block;
	margin-left: 3px;
}
.header h2{
	font-size: 23px;
	letter-spacing: 2px;
	font-family: "Neuton Regular","Open sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;;
	font-weight: 300;
}
.install{
	margin: 32px 0 16px 0;
}
.install .btn{
	margin-right: 0;
	border-bottom-right-radius:0;
	border-top-right-radius:0;
}
.install pre{
	padding-top: 9px;
	padding-bottom: 8px;
	margin-left: 0;
	border-bottom-left-radius:0;
	border-top-left-radius:0;
}
.try-it-now{
	font-size: 22px;
	margin: 32px 0;
	background: #333;
	padding: 12px 32px;
	transition: background-color 1s;
}
.try-it-now:hover{
	background: #47a447;
	transition: background-color 1s;
}
.tags{
	display: block;
	margin: 18px 0px;
	font-size: 14px;
	font-family: monospace;
}
#OPExample1{
	margin-top: 32px;
	margin-bottom: 166px;
	border-top: 1px solid #666;
	/*border-bottom: 1px solid #555;*/
	cursor: default;
}
#OPExample1 .popover{
	max-width: 400px;
}
#OPExample1 .example{
	font-family: monospace;
	padding: 8px;
	float:left;
	color: #888;
}
.content{
	margin-top:10%;
}
.sample-code{
	font-size: 24px;
}
#tree-structures{
	display: inline-block;
	border-bottom: dashed 1px;
	border-spacing: 10px;
}
.popover-content{
	color:#333;
	font-size: 14px;
	font-family: "Open sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.popover-content h3{
	color: #333;
}
.popover-content ul{
	margin-bottom: 0;
	margin-left: 18px;
}
.popover-content ul li i{
	color: #888;
}
.code-example{
	clear: both;
	margin-top: 20px;
	font-size: 23px;
	color: white;
}
.code-example span:hover,
.path .hover,
.path .hover span,
.path span.operator.hover,
.path span.operator:hover{
	background-color: #57A043;
	color: white;
	border-radius: 7px;
	cursor: default;
}
#OPExample1 .path{
	font-size: 30px;
}
#OPExample1 .path .popover h3{
	margin-top: 0;
}

@media (max-width: 992px) {
	.social{
		display: none;
		/*text-align: center;*/
	}
	.content, #content{
		margin-top:0px !important;
		margin-left: 30px;
	}
	.header h1{
		font-size: 36px !important;
		margin-top: 60px;
	}
	.sample-code{
		font-size: 18px !important;
	}
	.menu{
		float: none !important;
	}
	.main-menu{
		text-align: left !important;
	}
}

.menu{
	margin-top: 16px;
}
.main-menu i.fa{
	/*color: #E4EA35;*/
}
.social i.fa,
.menu i.fa{
	color: #ccc;
	transition: color 1s;
}
.menu i.fa{
	padding: 5px;
	border-radius: 10px;
	transition: color 1s;
	transition: background-color 1s;
}
.menu.affix i.fa{
	border-radius: 0 10px 10px 0;
}
.menu i.fa:hover{
	transition: color 1s;
	background: #ddd;
	color: inherit;
	/*color: #edaa36;*/
}
.social i.fa:hover{
	transition: color 1s;
	transition: background-color 1s;
	color: inherit;
}
.menu .fa:after{
	position: relative;
	display: inline-block;
	font-size: 16px;
	margin-left: 8px;
	padding-top: 6px;
	width: 0px;
	transition: width 1s;
	overflow: hidden;
	/*background: red;#434343;*/
	height: 23px;
}
.menu .fa:hover:after{
	transition: width 1s;
}
.menu .fa-home:after{
	content: "Home";
}
.menu .fa-home:hover:after{
	width: 50px;
}
.menu .fa-book:after{
	content: "Documentation";
}
.menu .fa-book:hover:after{
	width: 125px;
}
.menu .fa-download:after{
	content: "Install";
}
.menu .fa-download:hover:after{
	width: 53px;
}
.menu .fa-certificate:after{
	content: "Tutorial";
}
.menu .fa-certificate:hover:after{
	width: 68px;
}
.menu.affix{
	background: #383838;
	border-radius: 0 10px 10px 0;
	z-index: 10;
	margin-left: 0px;
	margin-top: 70px;
	padding-bottom: 0;
	border: 1px solid #383838;
}
.menu.affix a{
	position: relative;
	margin: 10px 0 0 0;
}
.M{
	text-align: center;
	display: block;
	font-size: 28px;
	font-weight: bold;
	font-family: "Neuton Regular";
	font-style: italic;
	padding-bottom: 5px;
	margin-left: -5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #888;
}
.M small{
	display: block;
	font-size: 18px;
	font-weight: normal;
}
@media (max-width: 992px) {
}

i.JS{
	display: inline-block;
}
i.JS:before{
	display: inline-block;
	content: "JS";
	color: #333;
	text-align: center;
	border-radius: 2px;
	background-color: #FFF651;
	height: 20px;
	width: 20px;
	margin-right: 3px;
}
i.Py{
	display: inline-block;
	background-image: url('../img/Py.png');
	height: 20px;
	width: 20px;
	margin-right: 3px;
	margin-bottom: -5px;
}
.reference code{
	background:#336333;
	color: #F7D2DC;
}
.alert code{
	background:#f9f2f4;
	color: #c7254e;
}
.alert ul,
.alert ol{
	margin-left: 20px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #4c4c4c;
}
.table > thead > tr > th {
	border-bottom: 2px solid #666;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: 1px solid #666;
	vertical-align: middle;
}
.path .operator {
    color: #6CAD5A;
}
.path .w2ildcard{
    color: #edaa36;
}
.string {
    color: #CEC73D;
}
.number{
    color: #5EB4ED;
}
pre .number{
	color:#216FA0;
}
pre .string{
	color: #938D16;
}
.path .operator.property,
.path .operator.root,
.path .operator.current,
.path .operator:hover{
	color: inherit;
}

#TOC.affix{
	top:60px !important;
}
#TOC a{
	color: #eee;
}
