body{
        /*color:#555;*/
        background:#fff;
        /*font-size:13px;*/
}
html{
        background:#222;
}
#accessibility{
        position:absolute;
        left:-1000px;
}
p,h3{
        font-family: verdana;
        font-family: 'Open Sans', sans-serif;
        line-height:1.8em;
        line-height:24px;
        text-align:left;
}
p{
        margin-bottom:15px;
}
h1,h2,h3{*/
        font-weight:bold;
        padding-bottom:5px;
}
h2 {
        font-size: 17px;
        color:#2a2a2a;
        margin:0;
        padding:10px 0;
}
h3 {
        color:#272727;
}
a {
        text-decoration:none;
        color:#4a8094;
        line-height:1.8em;
}
a:hover{
        text-decoration: underline;
}
.body a{
        font-weight: bold;
}

.h-background{
        background:#232323;
        /*background:#002D4F;*/
        border-bottom:1px solid #1B1B1B;
        /*border-bottom:1px solid #002648;*/
}

.header{
        position:relative;
}
#logo{
        margin:32px 0;
}
#lang{
        position:absolute;
        right:16px;
        top:0px;
}
#lang li{
        float:left;
        padding:0 1px;
}
.body {
        margin-top:16px;
        padding-bottom:16px;
        min-height:300px;
}

#login{
        width:300px;
        margin:auto;
}
#menu{
        padding-top:8px;
        float:right;
}
#menu li{
        color:#ddd;
        padding:0 4px;
}
#menu a{
        color:#ddd;
}
#top-menu{
        margin-top:24px;
        float:right;
        /*border-bottom:1px dotted #acc;*/
}
#top-menu a{
        text-decoration:none;
        padding:12px;
        border:1px solid inherit;
        bor2der:1px solid #fff;
}
#top-menu .yui3-menuitem {
        /*width:112px;*/
        height:22px;
}
#top-menu .yui3-menu-label {
        text-align:center;
        padding-top:2px;
        height:22px;
        color:#a9a8a8;
}
#top-menu .yui3-menuitem-content{
        color:#a9a8a8;
        /*text-transform: lowercase;*/
        text-align:center;
        padding-top:2px;
}
#top-menu .yui3-menuitem-content:hover,#top-menu .yui3-menu-label:hover,#top-menu .yui3-menu-label-menuvisible{
        color:#4A8094;
        text-decoration:none;
}
#top-menu .yui3-menu-label-menuvisible{
        /*border:1px solid #acc;*/
        border-bottom:0;
}
#top-menu .yui3-menuitem ul{
        margin-top:4px;
        padding:8px 12px;
        background:#fff;
        border:1px solid #b1b3b4;
        min-width:96px;
        *width:160px;
        -webkit-border-radius:1px;
        -moz-border-radius:2px;
        /*border-top:0;*/
}
#top-menu .yui3-menuitem .yui3-menuitem{
        width:auto;
        height:26px;
}
#top-menu .yui3-menuitem ul .yui3-menuitem-content{
        color:#3e3d40;
        text-align:left;
        padding:2px 0px;
}
#top-menu .yui3-menuitem .yui3-menuitem-content:hover{
        color:#4A8094;
}
.title_bkg{
        padding-top:19px;
        /*background:#303030 url(/img/cross_bg.png);*/
        background:#f1f1F9;
        background:#EAFCFF;
        /*border-top:1px solid #5B5B5B;*/
        border-top:1px solid #F2FCFF;
        /*border-bottom:1px solid #393939;*/
        border-bottom:1px solid #F2FCFF;
}
.title p{
        font-size:17px;
        line-height:24px;
}
.title h1{
        padding:25px 0;
        font-size: 30px;
        /*color:#fff;*/
}

.news a:hover{
        color:#689B96;
        /*text-decoration: none;*/
}
.footer{
        background:#f5f5f5;
        border-top:1px solid #e6e6e6;
        margin-top:16px;
        padding:20px 0;
}
.footer li{
        background:url(/img/ul_li.gif) left no-repeat;
        padding:3px 0 3px 15px;
}
.footer a{
        line-height: normal;
        font-size: 11px;
        color:#717171;
}
.footer h2 {
        font-size:14px;
        color:#2a2a2a;
        padding:5px;
        margin:0;
}
.footer p{
        font-size:11px;
        color:#717171;
}
.footer p.strong{
        color:#2A2A2A;
}
.quote{
        font-style: italic;
        font-size:20px;
}
.footer .quote{
        padding-right:16px;
}
.footer2{
        background:#222222;
        color:#ccc;
}

#banner .wiki-item{
        display:block;
        padding:16px;
        font-weight:bold;
        border-top:1px solid #799;
        cursor:pointer;
        height:32px;
}
#banner{
        padding:0;
}
#banner a.link{
        display:table-cell;
        color:#355;
        height:32px;
        vertical-align: middle;
}
#banner a:hover{
        color:#133;
        text-decoration:none;
}
#banner .first{
        border:0;
}
#banner .clicked,
#banner li:hover,
#banner .clicked a,
#banner li:hover a{
        color:#133;
        background:#c3F3F1;
}
#illustration .template-item{
        display:none;
}
#illustration .first{
        display:block;
}

label{
        width:100px;
        display:block;
        float:left;
}

strong{
        font-weight:bold;
}

.wiki-item ul li{
        list-style: disc;
}
.wiki-item ol li{
        list-style: decimal;
}
.wiki-item ol,.wiki-item ul{
        margin-top:-8px;
        margin-bottom:8px;
        margin-left:16px;
}
.wiki-item ul ul,
.wiki-item ul ol,
.wiki-item ol ol,
.wiki-item ol ul{
        margin-top:0px;
}
#author{
        padding:16px;
        float:right;
}
#illustration .show{
        display:block;
}
#support,#support th, #support tr,#support td{
        border:none;
        /*border-left:1px solid #fff;*/
}
#support td{
        border-top:1px solid #ddd;
}
#support thead{
        background:#3588BF;
        color:#000;
}
#support th{
        text-align:center;
}
#support .basic,
#support .pro,
#support .enterprise {
        text-align: center;
}
#support .basic-discount {
        text-align: center;
        font-weight:bold;
        background:#F2E7DA;
}
#support .pro-discount {
        text-align: center;
        font-weight:bold;
        background:#EFD9BF;
}
#support .enterprise-discount {
        text-align: center;
        font-weight:bold;
        background:#EFCBA7;
}
#support .head{
        font-family: Helvetica;
        /*background:#3588BF;*/
        background:#ddd;
        color:#F7931E;
        font-weight:bold;
        font-size: 125%;
        padding: 5px;
}
#support thead th{
        padding:10px;
}
#support thead th span{
        font-family: Helvetica;
        font-size:20px;
        font-style:italic;
        color:#fff;
}
#support tr{
        height:24px;
}
#support .features{
        font-family: Helvetica;
        vertical-align:bottom;
        font-size:16px;
        color:#fff;
}
sup{
        font-size:10px;
        display:inline-block;
        position:relative;
        left:3px;
        top:-5px;
}
.button{
        color: inherit;
        margin: auto;
        padding:8px;
        width:200px;
        text-align:center;
        text-decoration: none;
        font-weight:bold;
        font-size:18px;
        font-family:arial;
        border:1px solid #F7931E;
        background:#FFCC96;
        cursor:pointer;
}
.button:hover{
        background:#FFB770;
}

.detailed{
        border:1px solid #aaa;
        position:absolute;
        background:#fefeff;
        left:50px;
        top:20px;
        width:300px;
        padding:5px;
        z-index:10;
}
.hide{
        display:none;
}
.centered{
        text-align:center;
}
.strong{
        font-weight:bold;
}
/*form .required{*/
/*      color:red;*/
/*}*/
/*form .item{*/
/*      margin:20px 0;*/
/*}*/
/*form label{*/
/*      font-weight:bold;*/
/*      padding-top:3px;*/
/*}*/
/*form input, form textarea{*/
/*      background:#fff;*/
/*      border:1px solid #e8e8e8;*/
/*      color:#4a8094;*/
/*      padding:5px 2px;*/
/*}*/
#news .wiki-item{
        padding-top:5px;
        margin-bottom:10px;
}
#news h3{
        line-height:14px;
        margin-bottom:2px;
}
#news .info{
        color:#4a8094;
        font-size: 11px;
        font-weight:normal;
        padding-top:1px;
        display:block;
}
#news h3,#news p{
        padding-bottom:0;
        padding-top:0;
}
.featured .column .widget{
        padding:0 20px;
}
.left{
        float:left;
}
.footnote{
        font-size:10px;
}
#flex,#prod,#async,#optim{
        padding-left:70px;
        background-position: 10px 40px;
        background-repeat: no-repeat;
        h4eight:170px;
}
#flex{
        background-image: url(/img/flex.png);
}
#async{
        background-image: url(/img/async.png);
}
#prod{
        background-image: url(/img/prod.png);
}
#optim{
        background-image: url(/img/optim.png);
}
#support-desc{
        background:#FFF7CC;
        border:1px solid #FEA;
        padding:10px;
}
.summary .widget{
        padding:10px 0;
}
.summary h3{
        /*text-align:right;*/
        padding-bottom:0;

}
.summary p{
        font-size:18px;
}
#content{
        padding-right:16px;
}
pre {
        background-color : #FFFFeB;
        border : #eFeFeB solid 1px;
        padding: 5px;
        margin-bottom: 10px;
        overflow:auto;
        font-family: monospace;
        line-height:16px;
}
code{
        font-family: monospace;
        font-style: italic;
        font-weight:700;
}
.aaa{
        display: inline;
        position:relative;
}
.sh_xml{}

.richText-item ol, .richText-item ul{
        padding-bottom: 10px;
}

.richText-item ol ol,
.richText-item ul ul,
.richText-item ol ul,
.richText-item ul ol{
        margin-bottom:-8px;
        margin-left:32px;
}

/*.richText-item  p > ol, .richText-item  p > ul{*/
/*      margin:8px 8px 0;*/
/*      padding-bottom: 0;*/
/*      margin-bottom: 8px;*/
/*}*/

.richText-item li{
        line-height:1.8em;
        margin-left:20px;
}

/*.article ul ul li,*/
/*.article ol ol li,*/
/*.article ul ol li,*/
/*.article ol ul li{*/
/*}*/

.richText-item ol li{
        list-style-type:decimal;
}

.richText-item ul li{
        list-style-type: disc;
}
.richText-item ul ul li{
        list-style-type: circle;
}
.richText-item ul ul ul li{
        list-style-type: square;
}
.richText-item table{
        width:100%;
        margin-bottom:10px;
        border:1px solid grey;
        border-collapse: collapse;
}
.article thead{
        text-align:center;
        font-weight:bold;
        background:#71a0c0;
}
.richText-item td{
        border:1px solid #888;
        padding: 5px 8px;
}
/*.richText-item tr{*/
/*      padding:5px 0;*/
/*}*/
.richText-item thead td{
        font-weight:bold;
        text-align:center;
}
#OPExample1{
        margin-top: 60px;
        font-family: Arial;
        text-align: center;
        font-size: 30px;
}
#OPExample1 .path span,
#OPExample1 h2 span{    cursor: pointer;
        border-radius: 4px;
}
#OPExample1 .path span.operator:hover,
#OPExample1 .path span.hover,
#OPExample1 h2 span:hover{
        cursor: pointer;
        background: #d8f85a;
}
