@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@font-face {
	font-family: "Neuton Regular";
	src: local("Neuton Regular"), url(http://acf.acimg.eu/fonts/Neuton-Regular.ttf ) format("truetype"); /* non-IE */
}
html{
	min-height: 100%;
}
html, body {
	background-color: #434343;
	color: #eee;
	height: inherit;
	font-family: "Open sans", Arial, sans-serif;
}
.header h1{
	font-size:60px;
	text-align:center;
	color:white;
	font-family:"Neuton Regular",Helvetica,Arial,sans-serif;
	margin-top:50px;
}
.logo{
	text-align: left;
	font-size:30px;
	margin-top:16px;
	font-family:"Neuton Regular",Helvetica,Arial,sans-serif;
	color:white;
}
.logo a{
	color: inherit;
	text-decoration: inherit;
}
.logo small{
	font-family:"Open sans", Arial,sans-serif;
	font-size:18px;
	display: inline-block;
	margin-left: 3px;
}
.header h2{
	font-size: 23px;
	font-family: "Neuton Regular","Open sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;;
	font-weight: 300;
}
#OPExample1{
	margin-top: 100px;
	margin-bottom: 150px;
	cursor: default;
}
#OPExample1 .popover{
	max-width: 400px;
}
.content{
	margin-top:10%;
}
.sample-code{
	font-size: 24px;
}
#tree-structures{
	display: inline-block;
	border-bottom: dashed 1px;
	border-spacing: 10px;
}
.popover-content{
	color:#333;
	font-size: 14px;
	font-family: "Open sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.popover-content ul{
	margin-bottom: 0;
	margin-left: 18px;
}
.popover-content ul li i{
	color: #888;
}
.code-example{
	margin-top: 50px;
	font-size: 23px;
	color: white;
}
.code-example span:hover,
.path .hover,
.path span.operator:hover{
	background-color: #57A043;
	border-radius: 7px;
	cursor: default;
}
#OPExample1 .path{
	font-size: 30px;
}
#OPExample1 .path .popover h3{
	margin-top: 0;
}

@media (max-width: 992px) {
	body{
		text-align: center !important;
	}
	.content{
		margin-top:0px !important;
	}
	.header h1{
		font-size: 26px !important;
	}
	.sample-code{
		font-size: 18px !important;
	}
	.social{
		float: none !important;
	}
}
.link-icon{
	text-decoration: none;
	color: #333;
}
.link-icon:hover{
	text-decoration: none;
}
.modal-big{
   width:800px;
   /*margin-left:-400px;*/
}
.modal form{
	margin: 0;
	padding: 0;
}
.modal .tabbable{
	height: inherit;
}
.modal .tab-content{
	max-height: 400px;
}
#urls .badge{
  margin-right: 15px;
}
#urls .link-delete{
  background-color: #B94A48;
}
#urls .link-user{
  background-color: #3A87AD;
}
.userName{
	color: #357EBD;
}
.social i.fa{
	color: #ddd;
	transition: color 1s;
}
.social i.fa:hover{
	color: inherit;
}
i.JS{
	display: inline-block;
}
i.JS:before{
	display: inline-block;
	content: "JS";
	color: #333;
	text-align: center;
	border-radius: 2px;
	background-color: #FFF651;
	height: 20px;
	width: 20px;
}
i.Py{
	display: inline-block;
	background-image: url('../img/Py.png');
	height: 20px;
	width: 20px;
}
.reference code{
	background:#336333;
	color: #F7D2DC;
}
