<div name="acf-admin" class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">

		<div id="user-settings" class="pull-right">
			<a href="#" class="mh16">
				<i class="fa fa-user fa-white fa-2x"></i>
			</a>
			<div class="details hide">
				<i class='online-indicator online'></i> {{$.user.name}}
				<hr class="mh8"/>
				<div class="pull-right">
					<a href="/api/logout" class="text-danger">
						<i class="fa fa-power-off"></i> {{$.locale.logOut}}
					</a>
				</div>
				<div>
					<a href="/users/settings" ac-target="#main">
						<i class="fa fa-cog"></i> {{$.locale.userSettings}}
					</a>
				</div>
			</div>
		</div>

		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			<span class="fa fa-bar"></span>
			<span class="fa fa-bar"></span>
			<span class="fa fa-bar"></span>
		</button>

		<a class="navbar-brand" href="/default" ac-target="#main" >LinkBox</a>
		<div class="nav-collapse">
			<ul class="nav navbar-nav">
				<li class="users">
					<a href="/users/usersDefault" ac-target="#main" ac-dataSource="/users/show" ac-condition="$.'acr:user'.'@ID'"><i class="fa fa-group fa-white"></i> {{$.locale.users}}</a>
				</li>
				<li class="users">
					<a href="/links/linksDefault" ac-target="#main" ac-dataSource="/links/show" ac-condition="$.'acr:user'.'@ID'"><i class="fa fa-link fa-white"></i> {{$.locale.links}}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
